extends partials/layout.pug

block content
  .welcome
    if user
      form(method='POST')
        h2 Welcome #{user.name}
        each match in users
            .media#users
                each profile in profiles
                    if user.id === match.id
                      return
                    else if match.id === profile.id
                        .media-left.media-middle
                            a(href=profile.imgUrl)
                                img.media-object(src=profile.imgUrl)
                        .media-body
                            h4.media-heading #{match.name}
                            p I am #{profile.height} tall with #{profile.handsize} sized hands. Am I Murrcan? #{profile.citizenship}
                            label(for='likeCheck') Like Me
                            input#likeCheck(
                            type='checkbox'
                            value=profile.id
                            name='likes'
                            selected=(body.likes && body.likes.includes(profile.id))
                            )
        .like-stuff__submit
            input.btn.btn-success.btn-lg(type='submit' value='Like Profiles!')
    else 
      h1 You've tried the best, now try the rest
      h2 Please Login or register to view your soulmate
